<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All Accounts</title>
</head>
<body>
<table>
  <tr>
    <th>Account Name</th>
    <th>Balance</th>
  </tr>

  <tr th:each="account : ${accounts}">
    <td><a th:href="@{/account/__${account.id}__}">
      <span th:text="${account.name}">'Account Name'</span>
    </a></td>
    <td th:text="${account.balance}">'Account Balance'</td>
  </tr>

  <tr>
    <td><hr></td>
    <td><hr></td>
  </tr>

  <tr>
    <td>Total:</td>
    <td><span th:text="${total}">1000</span></td>
  </tr>
</table>
</body>
</html>